<!doctype hmtl>
<html>
    <head>
        <title>{{Title}}</title>
        <link href='https://fonts.googleapis.com/css?family=Quando'rel='stylesheet' />
        <link href='https://fonts.googleapis.com/css?family=Arimo'rel='stylesheet' />
        <link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='css/styles.css') }}' />
    </head>
    <body>
        <nav>
            <a href='/'>List o' blogs</a>
            <a href='/'>Sort list</a>
            <a href='/newpost'>Post new blog</a>
            <a href="/logout">Logout</a>
        </nav>

        {% with messages = get_flashed_messages(with_categories=True) %}
            <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endwith %}

        {% block content %}
        {% endblock %}

    </body>
</html>