{% extends "base.html" %}

{% block content %}


    <h1>List o' blogs</h1>

    {% if blogs|length == 0 %}
    <h2>You haven't written a thing!</h2>

    {% else %}

            {% for blog in blogs %}
            <h3> 
                <a href='/thisblog?id={{ blog.id }}'>{{ blog.title }}</a>
            </h3> 
            <p>
                {{ blog.body }}

            </p>
                {% for user in users %}
                    {% if user.id == blog.owner_id %}
                        <p>
                            <em>written by <a href="/singleuser?user={{ user.id }}">{{ blog.owner.email }}</a></em>
                        </p>
                    {% endif %}
                {% endfor %}

            {% endfor %}     

    {% endif %}

{% endblock %}